@model LogEmOff.User

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
@if ((bool)ViewData["HasLogins"])
{
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>UserLogins</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (IEnumerable<LogEmOff.Login>)ViewData["Logins"])
                {
                    <tr>
                        <td>
                            @if (item.Enabled)
                            {
                                if (item.GreenImage == null)
                                {
                                    <img src="~/images/GreenUser.png" alt="Enabled" width="32" height="32">
                                    @item.LoginName
                                }
                                else
                                {
                                    <img src="data:image/jpg;base64, @item.RedImage" alt="Enabled" width="32" height="32">
                                }
                            }
                            else
                            {
                                if (item.RedImage == null)
                                {
                                    <img src="~/images/RedUser.png" alt="Disabled" width="32" height="32">
                                    @item.LoginName
                                }
                                else
                                {
                                    <img src="data:image/jpg;base64, @item.RedImage" alt="Enabled" width="32" height="32">
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.UserID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
