@model IEnumerable<LogEmOff.Login>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.LoginID" >
                    @if (item.Enabled)
                    {
                        if (item.GreenImage == null)
                        {
                            <img src="~/images/GreenUser.png" alt="Enabled" width="32" height="32">
                            @Html.DisplayFor(modelItem => item.LoginName)
                        }
                        else
                        {
                            <img src="data:image/jpg;base64, @item.GreenImage" alt="Enabled" width="32" height="32">
                        }
                    }
                    else
                    {
                        if (item.RedImage == null)
                        {
                            <img src="~/images/RedUser.png" alt="Disabled" width="32" height="32">
                            @Html.DisplayFor(modelItem => item.LoginName)
                        }
                        else
                        {
                            <img src="data:image/jpg;base64, @item.RedImage" alt="Enabled" width="32" height="32">
                        }
                    }
                </a>
            </td>
            <td>
                <a asp-controller="Computers" asp-action="Details" asp-route-id="@item.ComputerID">
                    @if (item.Computer.Online)
                    {
                        if (item.Computer.GreenImage == null)
                        {
                            <img src="~/images/GreenComputerIcon.png" alt="Online" width="32" height="32">
                            @Html.DisplayFor(modelItem => item.Computer.ComputerName)
                        }
                        else
                        {
                            <img src="data:image/jpg;base64, @item.Computer.GreenImage" alt="Enabled" width="32" height="32">
                        }
                    }
                    else
                    {
                        if (item.Computer.RedImage == null)
                        {
                            <img src="~/images/RedComputerIcon.png" alt="Offline" width="32" height="32">
                            @Html.DisplayFor(modelItem => item.Computer.ComputerName)
                        }
                        else
                        {
                            <img src="data:image/jpg;base64, @item.Computer.RedImage" alt="Enabled" width="32" height="32">
                        }
                    }
                </a>
            </td>
            <td>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserID">
                    @Html.DisplayFor(modeItem => item.User.LastName),@Html.DisplayFor(modelItem => item.User.FirstName)
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoginID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.LoginID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
