@model IEnumerable<LogEmOff.Login>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @ViewData["ComputerTitle"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.Enabled) { <img src="~/images/GreenComputerIcon.png" alt="Enabled" width="32" height="32"> }
                else { <img src="~/images/RedComputerIcon.png" alt="Disabled" width="32" height="32"> }
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td>
                @ViewData["comp" + item.LoginID.ToString()]
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.LoginID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoginID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoginID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
