@model IEnumerable<LogEmOff.Computer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerIP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerIP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComputerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ComputerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ComputerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
