@model IEnumerable<LogEmOff.Computer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerIP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ComputerID">
                    @if (item.Online)
                    {
                        if (item.GreenImage == null)
                        {
                            <img src="~/images/GreenComputerIcon.png" alt="Online" width="32" height="32">
                            @Html.DisplayFor(modelItem => item.ComputerName)
                        }
                        else
                        {
                            <img src="data:image/jpg;base64, @item.GreenImage" alt="Enabled" width="32" height="32">
                        }
                    }
                    else
                    {
                        if (item.RedImage == null)
                        {
                            <img src="~/images/RedComputerIcon.png" alt="Offline" width="32" height="32">
                            @Html.DisplayFor(modelItem => item.ComputerName)
                        }
                        else
                        {
                            <img src="data:image/jpg;base64, @item.RedImage" alt="Enabled" width="32" height="32">
                        }
                    }
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerIP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ComputerID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ComputerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
